<div class="sm-container" style="display: flex; flex-direction: row; flex: content;">
<app-side-bar></app-side-bar>
<div class="form-control" id="divform" >
    
    <form class="col-6 bg-light" id="TeacherForm">
        <div class="form-group col-8">
          <label for="Teachername">Name</label>
          <input type="text" class="form-control" id="Teachername"  placeholder="Enter name">
        </div>
        <div class="form-group col-8">
          <label for="age">Age</label>
          <input type="number" class="form-control" id="age" placeholder="Age">
        </div>
        <div class="form-group col-8">
            <label for="phone">Phone</label>
            <input type="number" class="form-control" id="phone" placeholder="Phone">
          </div>
          <div class="form-group col-8">
            <label for="school">School</label>
            <input type="text" class="form-control" id="school" placeholder="school">
          </div>
          <div class="form-group col-8">
            <label for="subject">School</label>
            <input type="text" class="form-control" id="subject" placeholder="subject">
          </div>
          <br>
          
        <input type="submit" class="btn btn-primary col-5" value="Submit"/>
        
      </form>
</div>
</div>